body {
  color:black;
  font-size:16px;
}

.card, .greetings-div, .random-div {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-content:center;
  border-style:solid;
  margin: 10px;
}

.picture, .greetings-text, .random-text {
  box-sizing: border-box;
  padding:10px;
}

.text-div {
  display:flex;
  flex-direction:column;
  justify-content: center;
}

.strong {
  font-weight: 700;
}

p {
  padding: 0;
  margin-block: 0;
}