body {
  color:black;
  font-size:16px;
}

.card, .greetings-div, .random-div {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-content:center;
  border-style:solid;
  margin: 10px;
}

.picture, .greetings-text, .random-text {
  box-sizing: border-box;
  padding:10px;
}

.text-div {
  display:flex;
  flex-direction:column;
  justify-content: center;
}

.strong {
  font-weight: 700;
}

p {
  padding: 0;
  margin-block: 0;
}

.box-color {
  border-style: solid;
  margin: 10px;
  padding: 10px;
}

.box-color-text {
  text-align:center;
  font-size:1rem;
  color:white;
}

.credit-card-div {
  position: relative;
  height: 18.5vw;
  width: 30vw;
  margin: 10px;
  border-radius: 10px;
  display:flex;
  flex-direction:column;
  justify-content: space-between;
  align-items:center;
}

.credit-card-logo {
  width: 5vw;
  padding: 15px;
  align-self: flex-end;
}

.card-number {
  font-size: 2rem;
}

.card-detail {
  margin: 15px;
  align-self:flex-start;
}

.card-detail-bank {
  margin-left: 30px;
}

.credit-cards-div {
  display:flex;
  flex-direction:row;
  flex-wrap:nowrap;
  justify-content: center;
  align-content: center;
}

.rating-text {
  font-size: 2rem;
  margin: 0;
  padding: 0;
}

.driver-card {
  margin: 0 auto;
  background-color:navy;
  width: 60vw;
  border-radius: 10px;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px;
  margin: 10px auto;
}

.driver-card-info > * {
  color:white;
  display:flex;
  flex-direction:row;
  justify-content: start;
  align-content: center;
}

.driver-card-pic {
  border-radius:50%;
  height: 90px;
  width: 90px;
  overflow: hidden;
  display:flex;
  justify-content: center;
  align-content: center;
}

.driver-card-name, .driver-card-rating {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
}

.driver-card-car {
  margin: 0;
  padding: 0;
  font-size:1rem;
  font-weight: 200;
}

